
.post-card {
  width: 35%;
  background-color: #fff;
  padding: 3%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: relative;
  top:10%;
  left:20%;
  width:60%;
}

.post-card2 {
    width: 35%;
    background-color: #fff;
    padding: 3%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
    top:15%;
    left:0%;
    width:60%;
  }
.post-card > .img {
  width: 99%;
  margin-bottom: 10px;
}
.post-card > .img > img {width: 100%;border-radius: 10px;border: 1px solid #eee;padding: 5px;}

.post-card h2 {
    color: #5d5b5a;
    font-size: 23px;
}


button{
    position:relative;
}
.p1 {
    top:2%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 92%;
    color:#0e0d0d;
}

.p2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 52%;
    color:#0e0d0d;
}

.p3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#272525;
}