{%load static%}
{% include 'teacher/base.html'%}
  <head>
    <link rel="stylesheet" href= "{% static 'css/attendance.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/base_style.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">
    <script src = "{% static 'js/JQuery.js' %}"> </script>

  </head>
{% block 'main-content'%}

<div class='grid-container'>
<label for="subjects"></label>
       <select name="subject" id="subject" class="select-css">
        {% for subject in subjects %}
         <option value = "{{subject.id}}"> {{subject.class_id.class_name}} - {{subject.subject_name}}</option>
        {% endfor %}
        </select>  
        <button type = 'button' id='fetch_student'> Fetch Student </button>  
        <button type = 'button' id='clear'> Clear </button>  
</div>
    <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
        <th scope="col">ID</th>
         <th scope="col">Grade Level</th>
         <th scope="col">Section</th>
         <th scope="col">Subject Name</th>
          <th scope="col">Student Name</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
    </table>
    <div class = 'footer'>

 
    </div>
  
</div>


 {% endblock 'main-content'%}

 {% block custom_js %}
 <script>
$(document).ready(function(){
    $("#fetch_student").on('click',function(e){

    $(this).prop('disabled', true);

      //e.preventDefault();
       //$("#fetch_student").attr("disabled", true);
      var classes = $('#classes').val()
      var subject = $('#subject').val()

      $.ajax({

        url: "{% url 'get_subject_students'%}",
        type: 'POST',
        data:{classes:classes, subject:subject},
      })

      .done(function(response){
        alert('fetched')
        var json_data = JSON.parse(response);

      var tr;
      for (i in json_data) {
      var id = json_data[i].id;
      const myJSON = JSON.stringify(id);

      if(id == 1) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<center><a href='/add_activity/1' style='color:black;padding:7px'>add subject report </td>");
      $('table').first().append(tr);
    }
    if(id == 2) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<center><a href='/add_activity/2' style='color:black;padding:5px'>add subject report </td>");
      $('table').first().append(tr);
    }
    if(id == 3) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<center><a href='/add_activity/3' style='color:black;padding:5px'>add subject report </td>");
      $('table').first().append(tr);
    }
    if(id == 4) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<center><a href='/add_activity/4' style='color:black;padding:5px'>add subject report </td>");
      $('table').first().append(tr);
    }
    if(id == 5) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<center><a href='/add_activity/5' style='color:black;padding:5px'>add subject report </td>");
      $('table').first().append(tr);
    }
    if(id == 6) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<center><a href='/add_activity/6' style='color:black;padding:5px'>add subject report </td>");
      $('table').first().append(tr);
    }
    if(id == 7) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<center><a href='/add_activity/7' style='color:black;padding:5px'>add subject report </td>");
      $('table').first().append(tr);
    }
    if(id == 8) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<center><a href='/add_activity/8' style='color:black;padding:5px'>add subject report </td>");
      $('table').first().append(tr);
    }
    if(id == 9) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<center><a href='/add_activity/9' style='color:black;padding:5px'>add subject report </td>");
      $('table').first().append(tr);
    }
    if(id == 10) {
    
      tr = $('<tr/>');
      tr.append("<td value=id>" + json_data[i].id + "</td>");
      tr.append("<td>" + json_data[i].grade_level + "</td>");
      tr.append("<td>" + json_data[i].section + "</td>");
      tr.append("<td>" + json_data[i].subject_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<a href='/add_activity/10' style='color:black;padding:5px'>add subject report </td>");
      $('table').first().append(tr);
    }
    }
    })
      .fail(function(){
        alert("Error")
      })
      })

    $("#clear").on('click',function(e){
      var fetch_button =
      $("#fetch_student").removeAttr('disabled');
        $('table tbody' ).empty();
         })

      $("#save_attendance").on('click',function(){

      var data =  $("input[name='section_data[]']").map(function(){ 

        if($(this).is(":checked")) {
          return {"id":$(this).val(), "status":1}; 
        }

        else {

          return {"id":$(this).val(), "status":0}; 
        }
        }).get()
      var attendance_date2=$("#attendance_date").val();
      var class_id = $('#classes').val();
      var session_year_id = $('#session_year').val();
      console.log(data)
      data=JSON.stringify(data)

      $.ajax({
        url: "{% url 'save_attendance'%}",
        type: 'POST',
        data:{student_ids:data, attendance_date:attendance_date2, class_id:class_id, session_year_id:session_year_id}
      })
      .done(function(response){       
        alert("Added")
    })

    .fail(function(){
        alert("Error")
      }) 
    })

    

})

 </script>

{% endblock custom_js%}