{%load static%}
{% include 'teacher/base.html'%}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "{% static 'css/form_announcement.css' %}" type="text/css">
     <link rel="stylesheet" href= "{% static 'css/view_announcement.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/add_js.js' %}"></script>  

</head>

{%block 'main_content'%}

 <form method ="POST" class="form-wrapper" action="{%url 'save_announcement'%}">
 {% csrf_token %}
<center>
 {{form.as_p}}
{{ form.media }}
  <input type="Submit" value="Post">

<br><br><br>
{%for announcement in announcement%}
<div class='post-card2'>

  <div class='img text-center'> 
  </div>
  <p class="p1"> {{announcement.subject_id.teacher_id.last_name}} {{announcement.subject_id.teacher_id.first_name}} </p>
  <p class="p2">{{announcement.subject_id.subject_name}} {{announcement.subject_id.class_id.class_name}}<p>
  
    
    <p class="p3"> <a href = "/edit_announcement/{{announcement.id}} ">  {{announcement.title}}</p>
    

  <p class="p4">{{announcement.content | safe}}</p>
   <p class="p4"> <a href = "/delete_announcement/{{announcement.id}} ">  Delete</p>

</div>
 <button id="reply"> </button>
{%endfor%}
{% endblock %}


