{%load static%}
{% include 'teacher/base.html'%}
  <head>
    <link rel="stylesheet" href= "{% static 'css/card.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/base_style.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
{% block 'main-content'%}


    <div class="table-wrapper">
    <br> <center>
<caption> Subjects Held by {{user.last_name}} </caption>
<br>
    <table class="fl-table">
        <thead>
        <tr>
         <th scope="col">Grade Level</th>
         <th scope="col">Section</th>
         <th scope="col">Subject Name</th>
         <th scope="col">View Grades</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          {%for subject in subjects %}
        <tr>
                      <td>{{ subject.class_id.gradelevel_id_id }}</td>
                      <td>{{ subject.class_id.class_name }}</td>
                      <td>{{ subject.subject_name }}</td>
                      <td><a href = "/view_grades/{{subject.id}}" class="btn btn-info"> View </a></td>
        </tr>
        {% endfor %}
        </tr>
        <tbody>
    </table>
</div>
 {% endblock 'main-content'%}