{%load static%}
{% include 'teacher/base.html'%}
<head>
   <link rel="stylesheet" href= "{% static 'css/attendance.css' %}" type="text/css">
   <link rel="stylesheet" href= "{% static 'css/base_style.css' %}" type="text/css">
   <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">
   <script src="https://code.jquery.com/jquery-latest.min.js"></script>
   <script src = "{% static 'js/JQuery.js' %}"> </script>
</head>
{% block 'main-content'%}
<div class='grid-container'>
   <label for="classes">Classes</label>
      <select name="classes" id="classes" class="select-css">
         {% for classes in classes %}
         <option value = "{{classes.id}}"> {{classes.class_name}}</option>
         {% endfor %}
      </select>
   <label for="session_year">School Year</label>
   <select name="session_year" id="session_year">
      {% for session_year in session_year %}
      <option value = "{{session_year.id}}"> {{session_year.session_start_year}} to {{session_year.session_end_year}}</option>
      {% endfor %}
   </select>
   <label for="attendance_date">Attendance Date</label>
  <select name="attendance_date" id="attendance_date">
   </select>
   <br>
   <!-- <label for="attendance_date">Attendance Date</label>
      <input type='date' name='attendance_date' id='attendance_date'> -->
   <button type = 'button' id='fetch_attendance'> Fetch Attendance </button>  
    <button type = 'button' id='fetch_student'> Fetch Students </button> 
    <button type = 'button' id='clear'> Clear </button> 

</div>

<div class='alert alert-danger' id='error_attendance' style='display:none'>


</div>

<div class='alert alert-danger' id='success_attendance' style='display:none'>


</div>




<div class="table-wrapper">
   <table class="fl-table">
      <thead>
         <tr>
            <th scope="col">Grade Level</th>
            <th scope="col">Student Name</th>
            <th scope="col">Attendance</th>
         </tr>
      </thead>
      <tbody>
         <!--   <tr>
            {%for section in section %}
            <tr>
                        <td>{{section.class_id.gradelevel_id_id }}</td>
                        <td>{{ section.class_id.class_name }}</td>
                        <td>{{ section.student_id.last_name }} , {{ section.student_id.first_name }}</td>
                        <td><input type="checkbox" name="name1" value="section.student_id_id" />&nbsp;</td>
                        
            </tr>
            {% endfor %}
            </tr> -->
      <tbody>
   </table>
   <button id='update_attendance' class='button' type='button'> Update Attendance </a>
   <div class = 'footer'>
   </div>
</div>
{% endblock 'main-content'%}
{% block custom_js %}
<script>
   $(document).ready(function(){
         function showDiv() {
         document.getElementById('welcomeDiv').style.display = "block";
       }
   
       $("#fetch_attendance").click(function(){
   
           var classes=$('#classes').val();
           var session_year_id=$('#session_year').val();
   
   
            $.ajax({
           url: "{% url 'get_attendance'%}",
           type: 'POST',
           data:{classes:classes, session_year_id:session_year_id}
         })
         .done(function(response){       
           var json_data=JSON.parse(response);
           if(json_data.length>0) {
            var html_data="";

            for(key in json_data) {
                html_data+="<option value="+json_data[key]['id']+">"+json_data[key]['attendance_date']+"</option>";
            }
            $("#error_attendance").html("");
            $("#error_attendance").hide();
            $('#attendance_date').html(html_data);
           }

           else {
               $("#error_attendance").html("No Attendance Data Found");
               $("#error_attendance").show();
               $('#attendance_date').html("");
           } 
       })
   
       .fail(function(){
           alert("Error")
            $("#error_attendance").html("");
         }) 
   
       })

         $("#fetch_student").on('click',function(e){
   
         //e.preventDefault();
          //$("#fetch_student").attr("disabled", true);
         var attendance_date=$("#attendance_date").val()
   
         $.ajax({
   
           url: "{% url 'get_attendance_students'%}",
           type: 'POST',
           data:{attendance_date:attendance_date},
         })
   
         .done(function(response){
           alert('fetched')
           var json_data = JSON.parse(response);
   
           //var div = "<input type='date' name='attendance_date' id='attendance_date'>";
           //$('grid-container').first().append(div);
   
         var tr;
         for (i in json_data) {
         tr = $('<tr/>');
        if(json_data[i]['status']) {
         tr.append("<td>" + json_data[i].gradelevel + "</td>");
         tr.append("<td>" + json_data[i].name + "</td>");
         tr.append("<input type='checkbox'checked='checked' name='section_data[]' value='"+json_data[i]['id']+"'>");
        }

        else {
          tr.append("<td>" + json_data[i].gradelevel + "</td>");
         tr.append("<td>" + json_data[i].name + "</td>");
         tr.append("<input type='checkbox' name='section_data[]' value='"+json_data[i]['id']+"'>");
        }
         //tr.append("<input type='date' name='attendance_date' id='attendance_date'> '&emsp </input>");
         //tr.html(div);
         $('table').first().append(tr);
       } 
   
   
       })
         .fail(function(){
           alert("Error")
           //alert(attendance_date)
         })
   
         
   
         })

             $("#update_attendance").on('click',function(){
   
         var data =  $("input[name='section_data[]']").map(function(){ 
   
           if($(this).is(":checked")) {
             return {"id":$(this).val(), "status":1}; 
           }
   
           else {
   
             return {"id":$(this).val(), "status":0}; 
           }
           }).get()
         var attendance_date2=$("#attendance_date").val();
         data=JSON.stringify(data)
   
         $.ajax({
           url: "{% url 'save_update_attendance'%}",
           type: 'POST',
           data:{student_ids:data, attendance_date:attendance_date2}
         })
         .done(function(response){       
           alert("SUccess")
       })
   
       .fail(function(){
           alert("Error")
           console.log(attendance_date2)
         }) 
   
       })

       
       $("#clear").on('click',function(e){
   
        $('table tbody' ).empty();
         
   
         })
   
   })
   
   
    
</script>
{% endblock custom_js%}