{%load static%}
{% include 'student/base.html'%}
  <head>
    <link rel="stylesheet" href= "{% static 'css/card.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/base_style.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">

  </head>
{% block 'main-content'%}


    <div class="table-wrapper">
        <br> <center>
<caption> Subjects Held by {{user.last_name}} </caption>
    <table class="fl-table">
        <thead>
      <tr>
          <th scope="col">Subject Name</th>
          <th scope="col">Teacher</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          {%for subject in subjects %}
        <tr>
                      <td>{{ subject.subject_id.subject_name }}</td>
                      <td>{{ subject.subject_id.teacher_id.last_name}} , {{ subject.subject_id.teacher_id.first_name}} </td>
                      <td><a href = "/view_activities/{{subject.id}} "> View Details </a></td>
        </tr>
        {% endfor %}
        </tr>
        <tbody>
    </table>
</div>
 {% endblock 'main-content'%}