{% include 'student/base.html'%}
{%load static%}
  <head>
    <link rel="stylesheet" href= "{% static 'css/card.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/base_style.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src = "{% static 'js/JQuery.js' %}"> </script>

  </head>
{% block 'main-content'%}
 <select name="qtr" id="qtr" class="form-control form-control-sm">
         <option value="0">Select Quarter</option>
          <option value="1">First Quarter</option>
          <option value="2">Second Quarter</option>
          <option value="3">Third Quarter</option>
          <option value="4">Fourth Quarter</option>
         </select>
    <div class="table-wrapper" id='first_qtr'>
        <br> <center>


<caption> First Quarter Grade for {{user.last_name}} , {{user.first_name}}  </caption>

    <table class="fl-table">
        <thead>
      <tr>
          <th scope="col">Subject</th>
          <th scope="col">Grade</th>
        </tr>
        </thead>
        {% for first_qtr in first_qtr %}
        <tbody>
          <td> {{ first_qtr.section_subject_id.subject_id.subject_name}} </td>
          <td> {{first_qtr.grade}} </td>
        </tbody>
        {% endfor %}
    </table>
</div>



    <div class="table-wrapper" id='second_qtr'>
        <br> <center>
<caption> Second Quarter Grade for {{user.last_name}} , {{user.first_name}}  </caption>
    <table class="fl-table">
        <thead>
      <tr>
          <th scope="col">Subject</th>
          <th scope="col">Grade</th>
        </tr>
        </thead>
        {% for second_qtr in second_qtr %}
        <tbody>
          <td> {{ second_qtr.section_subject_id.subject_id.subject_name}} </td>
          <td> {{second_qtr.grade}} </td>
        </tbody>
        {% endfor %}
    </table>
</div>
    <div class="table-wrapper" id='third_qtr'>
        <br> <center>
<caption>Third Quarter Grade for {{user.last_name}} , {{user.first_name}}  </caption>
    <table class="fl-table">
        <thead>
      <tr>
          <th scope="col">Subject</th>
          <th scope="col">Grade</th>

        </tr>
        </thead>
        {% for third_qtr in third_qtr %}
        <tbody>
          <td> {{ third_qtr.section_subject_id.subject_id.subject_name}} </td>
          <td> {{third_qtr.grade}} </td>
        </tbody>
        {% endfor %}
    </table>
</div>

    <div class="table-wrapper" id='fourth_qtr'>
        <br> <center>
<caption> Fourth Quarter Grade for {{user.last_name}} , {{user.first_name}}  </caption>
    <table class="fl-table">
        <thead>
      <tr>
          <th scope="col">Subject</th>
          <th scope="col">Grade</th>
        </tr>
        </thead>
        {% for fourth_qtr in fourth_qtr %}
        <tbody>
          <td> {{fourth_qtr.section_subject_id.subject_id.subject_name}} </td>
          <td> {{fourth_qtr.grade}} </td>
          <td>  </td>
        </tbody>
        {% endfor %}
    </table>
</div>
 {% endblock 'main-content'%}

 <script>
 $(document).ready(function(){
      var first_qtr = document.getElementById('first_qtr');
      var second_qtr = document.getElementById('second_qtr');
      var third_qtr = document.getElementById('third_qtr');
      var fourth_qtr = document.getElementById('fourth_qtr');

      first_qtr.style.display ="None";
      second_qtr.style.display ="None";
      third_qtr.style.display ="None";
      fourth_qtr.style.display ="None";
  $("#qtr").change(function(e){
    

      var selectedVal = $(this).children("option:selected").val();
  

      if (selectedVal == 1) {
        first_qtr.style.display ="Block";
        second_qtr.style.display ="None";
        third_qtr.style.display ="None";
        fourth_qtr.style.display ="None";
      }
      else if (selectedVal ==2 ) {
        first_qtr.style.display ="None";
        second_qtr.style.display ="Block";
        third_qtr.style.display ="None";
        fourth_qtr.style.display ="None";
      }
      else if (selectedVal ==3 ) {
        
        first_qtr.style.display ="None";
        second_qtr.style.display ="None";
        third_qtr.style.display ="Block";
        fourth_qtr.style.display ="None";
      }
      else if (selectedVal ==4 ) {
         first_qtr.style.display ="None";
         second_qtr.style.display ="None";
         third_qtr.style.display ="None";
         fourth_qtr.style.display ="Block";
      }
  });
 });
 </script>