{% load static%}
{% include  'main/admin_dashboard.html' %}
<head>
   <link rel="stylesheet" href= "{% static 'css/forms.css' %}" type="text/css">
   <link rel="stylesheet" href= "{% static 'css/messages.css' %}" type="text/css">
</head>
{% block main_content%}
<div class="container">
   {% url 'save_subjects' as action_path %}
   <form action= "{{action_path}}" method ="POST">
      {% csrf_token %}
      <svg width="100%" height="100%">
         <path class="hidden" d="M0 0 H200 V200 H0 Z"></path>
      </svg>
      <label for="gradelevel">Grade Level:</label>
      <select name="gradelevel" id="gradelevel">
         {% for gradelevel in GradeLevels %}
         <option value = "{{gradelevel.id}}"> {{gradelevel.gradeLevel_no}} </option>
         {% endfor %}
      </select>
      <br>
      <br>
      <label for="subject" class="label2">Subject Name</label>
      <input type="text" placeholder="Enter Subject" name="subject" required>

    <!-- <label for="section_id" class="label2">Section</label>
      <select name="section_id" id="section_id">
         {% for section in sections %}
         <option value = "{{section.id}}"> {{section.class_id.gradelevel_id_id}} - {{section.class_id.class_name}} </option>
         {% endfor %} 
      </select> -->
    <label for="class_id" class="label2">Class</label>
      <select name="class_id" id="class_id">
         {% for classes in classes %}
         <option value = "{{classes.id}}"> {{classes.gradelevel_id_id}} - {{classes.class_name}} </option>
         {% endfor %}
      </select>  
      <br> <br>
      <label for="teacher">Teacher:</label>
      <select name="teacher" id="teacher">
         {% for teacher in teacher %}
         <option value = "{{teacher.admin.id}}"> {{teacher.admin.last_name}} {{teacher.admin.first_name}}</option>
         {% endfor %}
      </select>
      <button type="submit" class='button3'>Add</button>
   </form>
   {% if messages %}
   <div class = "messages">
      {% for message in messages %}
      {% if message.tags == 'error'%}
      <div class="alert alert_error"> <button aria-hidden="true" data-dismiss="alert" class="close" onClick="window.location.reload()" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% if message.tags == 'success'%}
      <div class="alert alert_success"> <button aria-hidden="true" data-dismiss="alert" onClick="window.location.reload()" class="close" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% endfor %}
   </div>
   {% endif %}
</div>
{% endblock main_content%}