{% load static%}
{% include  'main/base.html' %}

<head>
<link rel="stylesheet" href= "{% static 'css/admin/add_class.css' %}" type="text/css">
</head>

{% block main_content%}
<div class="container">
{% url 'save_class' as action_path %}
  <form action= "{{action_path}}" method ="POST">
  {% csrf_token %}
    <label for="gradelevel">Grade Level:</label>
      <select name="gradelevel" id="gradelevel">
        {% for gradelevel in GradeLevels %}
         <option value = "{{gradelevel.id}}"> {{gradelevel.gradeLevel_no}} </option>
        {% endfor %}
        </select> 
        <br>
        <br>
        <label for="class_name"><b> Class Name</b></label>
        <input type="text" placeholder="Enter Class Name" name="class_name" required>
        <br>
        <label for="teacher">Advisor</label>
       <select name="teacher" id="steacher">
        {% for teacher in teachers %}
         <option value = "{{teacher.id}}"> {{teacher.last_name}} {{teacher.first_name}}</option>
        {% endfor %}
        </select>
        <button type="submit" class="button2">Add</button>
  </form>
</div>

{% if messages %}
   <div class = "messages">
      {% for message in messages %}
      {% if message.tags == 'error'%}
      <div class="alert alert_error"> <button aria-hidden="true" data-dismiss="alert" class="close" onClick="window.location.reload()" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% if message.tags == 'success'%}
      <div class="alert alert_success"> <button aria-hidden="true" data-dismiss="alert" onClick="window.location.reload()" class="close" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% endfor %}
   </div>
{% endif %}

{% endblock main_content%}







