<head>
  <title>{% block title %}Sample High School{% endblock title %}</title>

  {% load static %}
      <link rel="stylesheet" href= "{% static 'css/base.css' %}" type="text/css">
</head>


  <body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Admin</h2>
        <ul>
            <li><a href="/admin_home"><i class="fas fa-home"></i>Home</a></li>
            {% url 'add_teacher' as add_teacher %}
            <li><a href= "{% url 'manage_teacher'%}" ><i class="fas fa-subjects"></i>Manage Teacher</a></li>
             <li><a href= "{% url 'manage_school'%}" ><i class="fas fa-subjects"></i>Manage School</a></li>
            <li><a href= "{% url 'manage_student'%}" ><i class="fas fa-subjects"></i>Manage Students</a></li>
            <li><a href= "{% url 'manage_subject'%}" ><i class="fas fa-subjects"></i>Manage Subjects</a></li>
             <li><a href= "{% url 'view_section'%}" ><i class="fas fa-grade_level"></i>Sections</a></li>
                 <li><a href= "{% url 'admin_chat'%}" ><i class="fas fa-grade_level"></i>Inbox</a></li>
            <li><a href=" {% url 'logout' %}"><i class="fas fa-logout"></i>Logout</a></li>
        </ul> 
    </div>
    <div class="main_content">
        <div class="header">Sample High School.</div>  
    
  </body>
</html>