{% load static%}
{% include  'main/base.html' %}

<head>
<link rel="stylesheet" href= "{% static 'css/forms.css' %}" type="text/css">
 <link rel="stylesheet" href= "{% static 'css/messages.css' %}" type="text/css">
</head>

{% block main_content%}
<div class="container4">
{% url 'save_editsubject' as action_path %}
  <form action= "{{action_path}}" method ="POST">
  {% csrf_token %}
    <svg width="100%" height="100%">
      <path class="hidden" d="M0 0 H200 V200 H0 Z"></path>
    </svg>
    <input type ="hidden" name="subject_id" value={{subject.id}}>
     <br> <br>
     <label for="subject_name" class="label2">Subject Name</label>
      <input type="text" class="form-control" name="subject_name" placeholder="First Name *" value="{{subject.subject_name}}" />
         <label for="class_id">Class</label>
          <select name="class_id" id="class_id">
         <option value = "{{subject.class_id_id}}"> {{subject.class_id_id}} - {{subject.class_id.class_name}} </option>
      </select>
      <br> <br>
      <label for="teacher">Teacher:</label>
      <select name="teacher" id="teacher">
         <option value = "{{subject.teacher_id_id}}"> {{subject.teacher_id.last_name}} {{subject.teacher_id.first_name}}</option>

      </select>
       <label > Status</label>
    <select name="status">
         <option value = "1"> Active </option>
          <option value = "0"> Inactive </option>
      </select>
    <br>
    <button type="submit" class='button2' onclick="return confirm('Do you really want to submit the form?');">Edit</button>
  </form>

   {% if messages %}
        <div class = "messages">
            {% for message in messages %}
            {% if message.tags == 'error'%}
            <div class="alert alert_error"> <button aria-hidden="true" data-dismiss="alert" class="close" onClick="window.location.reload()" type="button">×</button> <strong>{{message}}</strong> </div>
            {% endif %}
            {% if message.tags == 'success'%}
             <div class="alert alert_success"> <button aria-hidden="true" data-dismiss="alert" onClick="window.location.reload()" class="close" type="button">×</button> <strong>{{message}}</strong> </div>
            
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>


{% endblock main_content%}

