{%load static%}
{% include 'main/admin_dashboard.html'%}
  <head>
    <link rel="stylesheet" href= "{% static 'css/card.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/base_style.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">

  </head>
  <style>
  .button {
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family:sans-serif;
  position: absolute;
  bottom: 8px;
  right: 16px;

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  </style>
{% block 'main-content'%}


    <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
         <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Address</th>
          <th scope="col">E-mail</th>
          <th scope="col">Last Login</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          {%for teacher in teachers %}
        <tr>
                    <td>{{ teacher.admin.id }}</td>
                      <td>{{ teacher.admin.first_name }}</td>
                      <td>{{teacher.admin.last_name }}</td>
                      <td>{{ teacher.address }}</td>
                      <td>{{ teacher.admin.email }}</td>
                      <td>{{ teacher.admin.last_login }}</td>
                      <td> <a href = "/edit_teacher/{{teacher.admin.id}} "> Edit </a></td>
        </tr>
        {% endfor %}
        </tr>
        <tbody>
    </table>
</div>
<a href= "add_teacher" class="button"> Add Teacher </a>
 {% endblock 'main-content'%}