{%load static%}
{% include  'main/base.html' %}
  <head>
     <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">

  </head>
  <style>
    .button_href {
    background-color: rgb(133, 132, 132);
    box-shadow: 0 5px 0 rgb(133, 132, 132);
    color: white;
    width:5%;
    height:55%;
    padding:1%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    left:80%;
  }
  
  .button_href:hover {
    background-color: rgb(133, 132, 132);
  }
  
  .button_href:active {
    box-shadow: none;
    top: 5px;
  }
  </style>
{% block 'main-content'%}


    <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>

          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Address</th>
          <th scope="col">Last Login</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          {%for teacher in teachers %}
        <tr>
               
                      <td>{{ teacher.admin.first_name }}</td>
                      <td>{{teacher.admin.last_name }}</td>
                      <td>{{ teacher.address }}</td>
                      <td>{{ teacher.admin.last_login }}</td>
                      <td> <a href = "/edit_teacher/{{teacher.admin.id}} "> Edit </a></td>
        </tr>
        {% endfor %}
        </tr>
        <tbody>
    </table>
</div>
<a href= "add_teacher" class='button_href'> Add Teacher </a>
 {% endblock 'main-content'%}