{%load static%}
{% include  'main/base.html' %}
  <head>
    <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/messages.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   

  </head>

{% block 'main-content'%}

{% if messages %}
   <div class = "messages">
      {% for message in messages %}
      {% if message.tags == 'error'%}
      <div class="alert alert_error"> <button aria-hidden="true" data-dismiss="alert" class="close" onClick="window.location.reload()" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% if message.tags == 'success'%}
      <div class="alert alert_success"> <button aria-hidden="true" data-dismiss="alert" onClick="window.location.reload()" class="close" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% endfor %}
   </div>
{% endif %}

<center>
<div class="row" style="padding:10px;font-size:12px;">
	<div class="col" style="padding:10px;font-size:12px;">
		<div class="card card-body" style="padding:10px;font-size:12px;">

			<form method="get">
				{{myFilter.form.as_p}}

		    <button class="btn btn-info" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<center>

    <div class="table-wrapper">
    <table class="fl-table">
      <thead>
    <tr>
      <th scope="col">Grade Level</th>
      <th scope="col">Subject Name</th>
      <th scope="col">Section</th>
      <th scope="col">Teacher</th>
      <th scope="col">Status</th>
      <th scope="col">Action </th>
      <th scope="col">Delete </th>
    </tr>
  </thead>
  <tbody>

      {% for subject in subjects%}
        <tr>
          <td> {{subject.class_id.gradelevel_id.gradeLevel_no}} </td>
          <td> {{subject.subject_name}} </td>
          <td> {{subject.class_id.class_name}} </td>
          <td> {{subject.teacher_id.last_name}}, {{subject.teacher_id.first_name}} </td>
           <td> {{subject.status}} </td>
          <td> <a href = "/edit_subject/{{subject.id}} " class="btn btn-info"> Edit </a></td>
          <td> <a href = "/delete_subject/{{subject.id}} " class="btn btn-danger"> Delete </a></td>
        </tr>
      {% endfor %}
        </tr>
        <tbody>
    </table>
</div>
<a href= "add_subjects"  class="btn btn-outline-primary"> Add a Subject </a>
 {% endblock 'main-content'%}