{%load static%}
{% include  'main/base.html' %}
<link rel="stylesheet" href= "{% static 'css/card.css' %}" type="text/css">
<link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">
       <link rel="stylesheet" href= "{% static 'css/messages.css' %}" type="text/css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% block 'main_content' %}

{% if messages %}
   <div class = "messages">
      {% for message in messages %}
      {% if message.tags == 'error'%}
      <div class="alert alert_error"> <button aria-hidden="true" data-dismiss="alert" class="close" onClick="window.location.reload()" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% if message.tags == 'success'%}
      <div class="alert alert_success"> <button aria-hidden="true" data-dismiss="alert" onClick="window.location.reload()" class="close" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% endfor %}
   </div>
{% endif %}

<div class="cards-list">
  

  <div class="card 2">
  <div class="card_image2">
  <br>  
     <a href="add_sessionyear" class="card_title title-black"> Add School Year </a>
    </div>
  <div class="card_title title-white">
    
  </div>
</div>


<div class="card 1">
  <div class="card_image"> 
  <br>
  <a href="/add_gradelevel" class="card_title title-black">Add Grade Level </a>
  </div>
  <div class="card_title title-white">
    
  </div>
</div>



<div class="card 3">
  <div class="card_image3">
  <br>
  <a href="{%url 'add_class'%}" class="card_title title-black"> Add Class </a>
  </div>
  <div class="card_title">
    
  </div>
</div>
  

</div>

<div class="table-wrapper">

<div class="table-wrapper3">
    <table class="fl-table">
 <center> <caption> School Year </caption>
 <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>

      <th scope="col">Delete</th>

      
    </tr>
  </thead>
  <tbody>

      {% for school_year in school_year%}

        <tr>
          <td> {{school_year.session_start_year}} </td>
          <td> {{school_year.session_end_year}} </td>
            <td> <a href = "/delete_year/{{school_year.id}}" class="btn btn-danger"> Delete </a> </td>

        </tr>
      {% endfor %}
    </table>
</div>
</div>
<div class="table-wrapper">
  <div class="table-wrapper2">
      <table class="fl-table">
 <center> <caption> Grade Levels </caption>

 <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">Grade Level</th>
      <th scope="col">Created at</th>
      <th scope="col">Status</th>
       <th scope="col">Edit</th>

      
    </tr>
  </thead>
  <tbody>

      {% for gradelevel in gradelevels%}
     {% if gradelevel.status is True%}
        <tr>
          <td> {{gradelevel.gradeLevel_no}} </td>
          <td> {{gradelevel.created_at}} </td>
            <td> Active </td>
          <td> <a href = "/edit_gradelevel/{{gradelevel.id}}" class="btn btn-info" > Edit </a> </td>
        </tr>
      {%endif%}

           {% if gradelevel.status is False%}
        <tr>
          <td> {{gradelevel.gradeLevel_no}} </td>
          <td> {{gradelevel.created_at}} </td>
            <td> Inactive </td>
          <td> <a href = "/edit_gradelevel/{{gradelevel.id}}" class="btn btn-info" > Edit </a> </td>
        </tr>
      {%endif%}
      {% endfor %}
    </table>
</div>
</div>

<div class="table-wrapper">
  <div class="table-wrapper2">
 
    <table class="fl-table">
     <caption> Sections </caption>
        <thead>
   <tr>
      <th scope="col">Grade Level</th>
      <th scope="col">Section Name</th>
      <th scope="col">Advisor </th>
                <th scope="col">Status</th>
      <th scope="col">Action </th>
       <th scope="col">Delete</th>
    </tr>
        </thead> 
        <tbody>
        <tr>
        {% for class in classes%}
        {% if class.status is True%}
        <tr>
          <td> {{class.gradelevel_id.gradeLevel_no}} </td>
          <td> {{class.class_name}} </td>
          <td> {{class.teacher_id.first_name}} {{class.teacher_id.last_name}} </td>
          <td> Active </td>
          <td> <a href = "/edit_class/{{class.id}} " class="btn btn-info"> Edit </a></td>
          <td> <a href = "/delete_class/{{class.id}}" class="btn btn-danger"> Delete </a> </td>
        </tr>
        {%endif%}
        {% if class.status is False%}
        <tr>
          <td> {{class.gradelevel_id.gradeLevel_no}} </td>
          <td> {{class.class_name}} </td>
          <td> {{class.teacher_id.first_name}} {{class.teacher_id.last_name}} </td>
          <td> Inactive </td>
          <td> <a href = "/edit_class/{{class.id}} " class="btn btn-info"> Edit </a></td>
          <td> <a href = "/delete_class/{{class.id}}" class="btn btn-danger"> Delete </a> </td>
        </tr>
        {%endif%}
      {% endfor %}
        </tr>
        <tbody>
    </table>
</div>



    




{% endblock 'main_content' %}