{%load static%}
{% include 'main/admin_dashboard.html'%}
<link rel="stylesheet" href= "{% static 'css/card.css' %}" type="text/css">
<link rel="stylesheet" href= "{% static 'css/table.css' %}" type="text/css">
<link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">
{% block 'main_content' %}

<div class="cards-list">
  

  <div class="card 2">
  <div class="card_image2">
  <br>  
     <a href="add_sessionyear" class="card_title title-black"> Add School Year </a>
    </div>
  <div class="card_title title-white">
    
  </div>
</div>


<div class="card 1">
  <div class="card_image"> 
  <br>
  <a href="/add_gradelevel" class="card_title title-black">Add Grade Level </a>
  </div>
  <div class="card_title title-white">
    
  </div>
</div>



<div class="card 3">
  <div class="card_image3">
  <br>
  <a href="{%url 'add_class'%}" class="card_title title-black"> Add Class </a>
  </div>
  <div class="card_title">
    
  </div>
</div>
  

</div>

<div class="table-wrapper">

<div class="table-wrapper3">
 <center> <caption> School Year </caption>
    <table class="fl-table">
 <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>

      {% for school_year in school_year%}

        <tr>
          <td> {{school_year.session_start_year}} </td>
          <td> {{school_year.session_end_year}} </td>
          <td>  Edit </a></td>
        </tr>
      {% endfor %}
    </table>

  <br> <br>
 <center> <caption> Grade Levels </caption>
    <table class="fl-table">
 <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">Grade Level</th>
      <th scope="col">Created at</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>

      {% for gradelevel in gradelevels%}

        <tr>
          <td> {{gradelevel.gradeLevel_no}} </td>
          <td> {{gradelevel.created_at}} </td>
          <td> <a href = "/delete_gradelevel/{{gradelevel.id}} "> Edit </a></td>
        </tr>
      {% endfor %}
    </table>



<br> <br>
  <div class="table-wrapper2">
  <caption> Sections </caption>
    <table class="fl-table">
        <thead>
   <tr>
      <th scope="col">Grade Level</th>
      <th scope="col">Section Name</th>
      <th scope="col">Advisor </th>
      <th scope="col">Action </th>
    </tr>
        </thead> 
        <tbody>
        <tr>
        {% for class in classes%}
        <tr>
          <td> {{class.gradelevel_id.gradeLevel_no}} </td>
          <td> {{class.class_name}} </td>
          <td> {{class.teacher_id.first_name}} {{class.teacher_id.last_name}} </td>
          <td> <a href = "/edit_class/{{class.id}} "> Edit </a></td>
        </tr>
      {% endfor %}
        </tr>
        <tbody>
    </table>




    




{% endblock 'main_content' %}