{%load static%}
{% include  'main/base.html' %}
  <head>
     <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">
          <link rel="stylesheet" href= "{% static 'css/messages.css' %}" type="text/css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <style>
    .button_href {
    background-color: rgb(133, 132, 132);
    box-shadow: 0 5px 0 rgb(133, 132, 132);
    color: white;
    width:5%;
    height:55%;
    padding:1%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    left:43%;
  }
  
  .button_href:hover {
    background-color: rgb(133, 132, 132);
  }
  
  .button_href:active {
    box-shadow: none;
    top: 5px;
  }
  </style>
{% block 'main-content'%}

{% if messages %}
   <div class = "messages">
      {% for message in messages %}
      {% if message.tags == 'error'%}
      <div class="alert alert_error"> <button aria-hidden="true" data-dismiss="alert" class="close" onClick="window.location.reload()" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% if message.tags == 'success'%}
      <div class="alert alert_success"> <button aria-hidden="true" data-dismiss="alert" onClick="window.location.reload()" class="close" type="button">×</button> <strong>{{message}}</strong> </div>
      {% endif %}
      {% endfor %}
   </div>
{% endif %}

<center>
<div class="row" style="padding:10px;font-size:12px;">
	<div class="col" style="padding:10px;font-size:12px;">
		<div class="card card-body" style="padding:10px;font-size:12px;">

			<form method="get">
				{{myFilter.form.as_p}}

		    <button class="btn btn-info" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>

<center>

    <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>

          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Address</th>
          <th scope="col">Last Login</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          {%for teacher in teachers %}
          {% if teacher.status is True%}
        <tr>
               
                      <td>{{ teacher.admin.first_name }}</td>
                      <td>{{teacher.admin.last_name }}</td>
                      <td>{{ teacher.address }}</td>
                      <td>{{ teacher.admin.last_login }}</td>
                      <td>Active</td>
                      <td> <a class="btn btn-info" href = "/edit_teacher/{{teacher.admin.id}} "> Edit </a></td>
        </tr>
          {%endif%}

             {% if teacher.status is False%}
        <tr>
               
                      <td>{{ teacher.admin.first_name }}</td>
                      <td>{{teacher.admin.last_name }}</td>
                      <td>{{ teacher.address }}</td>
                      <td>{{ teacher.admin.last_login }}</td>
                      <td>Inactive</td>
                      <td> <a class="btn btn-info" href = "/edit_teacher/{{teacher.admin.id}} "> Edit </a></td>
        </tr>
          {%endif%}
          
        {% endfor %}
        </tr>
        <tbody>
    </table>
</div>
<a href= "add_teacher" class='button_href'> Add Teacher </a>
 {% endblock 'main-content'%}