<html>
{% load static %}
<head>
        <title> Sample High School </title>
        <link rel="stylesheet" href= "{% static 'css/login.css' %}" type="text/css"> 
        <script src = "{% static 'js/JQuery.js' %}"> </script>
</head>

        <body>
  <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> ACCESS CODE </h2>

<form action="{%url 'send_otp'%}"method='POST'>   
{%csrf_token%} 
<div id="email_div" style="display: block;" >
    <input type="text" name="email_otp" id="email_otp" placeholder="Email">
     <center><input class="underlineHover" type="submit" value="SEND OTP" id='myBtn'>
</div>

   {% if messages %}
        <div class = "messages">
            {% for message in messages %}
            {% if message.tags == 'error'%}
            <span class = "alert alert-danger"> {{message}} </span>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
</body>


</html>


