{%load static%}
{% include  'main/base.html' %}
  <head>
    <link rel="stylesheet" href= "{% static 'css/attendance.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/base_style.css' %}" type="text/css">
    <link rel="stylesheet" href= "{% static 'css/table_style.css' %}" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src = "{% static 'js/JQuery.js' %}"> </script>

  </head>
{% block 'main-content'%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <span class="navbar-brand">Class</span>
         <select name="classes" id="classes" >
        {% for classes in classes %}
         <option value = "{{classes.id}}"> {{classes.class_name}}</option>
        {% endfor %}
        </select>  &nbsp;&nbsp;&nbsp;
   
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     <button type = 'button' class="btn btn-primary" id='fetch_section'> Fetch Class </button>  
      </li>
    </ul>
  </div>
</nav>

    <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
         <th scope="col">Grade Level</th>
         <th scope="col">Class Name</th>
          <th scope="col">Student Name</th>
          <th scope="col">Teacher Name</th>
        </tr>
        </thead>
        <tbody>
    <!--   <tr>
          {%for section in section %}
        <tr>
                      <td>{{section.class_id.gradelevel_id_id }}</td>
                      <td>{{ section.class_id.class_name }}</td>
                      <td>{{ section.student_id.last_name }} , {{ section.student_id.first_name }}</td>
                      <td><input type="checkbox" name="name1" value="section.student_id_id" />&nbsp;</td>
                      
        </tr>
        {% endfor %}
        </tr> -->
        <tbody>
    </table>
</div>
  
 {% endblock 'main-content'%}

 {% block custom_js %}
 <script>
$(document).ready(function(){
    $("#fetch_section").on('click',function(e){
       $('table tbody' ).empty();

      e.preventDefault();
       $("#fetch_student").attr("disabled", true);
      var classes = $('#classes').val()

      $.ajax({

        url: "{% url 'get_section'%}",
        type: 'POST',
        data:{classes:classes},
      })

      .done(function(response){
        alert('fetched')
        var json_data = JSON.parse(response);
        console.log(json_data)

      var tr;
      for (i in json_data) {
      tr = $('<tr/>');
      tr.append("<td>" + json_data[i].gradelevel + "</td>");
      tr.append("<td>" + json_data[i].class_name + "</td>");
      tr.append("<td>" + json_data[i].name + "</td>");
      tr.append("<td>" + json_data[i].teacher_name + "</td>");
      //tr.append("<input type='date' name='attendance_date' id='attendance_date'> '&emsp </input>");
      //tr.html(div);
      $('table').first().append(tr);
    } 


    })
      .fail(function(){
        alert("Error")
        console.log(json_data)
      })
      })

    });


 </script>

{% endblock custom_js%}