  
   {% load static %}
  <link rel="stylesheet" href= "{% static 'css/teacher_base.css' %}" type="text/css">
  {% include 'teacher/base.html'%}

 {% block main_content %}
 
<div class="container">
        <!-- Insert loop statement here -->
        <div class="card">
          <div class="card-header">
            <h1>Welcome</h1>
          </div>
          <div class="card-body">
          {%for teachers in teacher %}
            <p>{{teachers.admin.first_name}}, {{teachers.admin.last_name}} </p>
          </div>
          {%endfor%}

          
        </div>
        <div class="card">
        <div class="card-header">
            <h1>Classes</h1>
          </div>
          {%for classes in classes%}
          <div class="card-body">
            <p> {{classes.gradelevel_id.gradeLevel_no}} - {{classes.class_name}}</p>
          </div>  
          {%endfor%}
          </div>
           <div class="card">
        <div class="card-header">
            <h1>Total Students</h1>
          </div>
          <div class="card-body">
            <p> {{section}}</p>
          </div>  
          </div>
           <div class="card">
        <div class="card-header">
            <h1>Total Subjects</h1>
          </div>
          <div class="card-body">
            <p> {{subjects}}</p>
          </div>  
          </div>
        <!-- End loop -->
      </div>
    </div>
  </div>
 
 {% endblock main_content %}
