<html>
{% load static %}
<head>
        <title> Sample High School </title>
        <link rel="stylesheet" href= "{% static 'css/login.css' %}" type="text/css"> 
        <script src = "{% static 'js/JQuery.js' %}"> </script>
</head>

        <body>
  <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> VERIFY OTP </h2>

<form action="{%url 'confirm_otp'%}"method='POST'>   
{%csrf_token%} 
<div id="email_div" style="display: block;" >
    <label for="email">OTP</label>
    <input type="text" name="otp" id="otp">
    <button  onclick="verify_otp()">Verify</button>
</div>
</form>

  </div>
</div>

   {% if messages %}
        <div class = "messages">
            {% for message in messages %}
            {% if message.tags == 'error'%}
            <span class = "alert alert-danger"> {{message}} </span>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
</body>


</html>

