<html>
{% load static %}
<head>
        <title> Sample High School </title>
        <link rel="stylesheet" href= "{% static 'css/login.css' %}" type="text/css"> 
</head>


{% block content %}
    {% if validlink %}
    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Reset Password </h2>


    <form method = "post">
        {% csrf_token %}
        {{ form.as_p }}


          <input type="submit" class="fadeIn fourth" value="Reset" > </input>

        </form>

      <!-- /.social-auth-links -->

    </div>
    {% else %}

    <p>
        The Password Link Was Expired or Invalid
    </p>
    {% endif %}
{% endblock content %}